table {
  padding:2mm; 
  margin-left: auto; 
  margin-right: auto; 
  width: 45%; 
  background:#eeeeee;
  font-family: SignikaRegular, sans-serif;
}

th{
  background-color:#9900cc;
  color:white;
}