<%= form_tag converts_url, :method=>'post', :remote => true do %>

<div>
  <table>
    <tr>
      <th rowspan="2"><h2>Currency converter</h2></th>
    </tr>
    <tr>
    </tr>
    <tr>
      <td><%= link_to 'New conversion', converts_url, :remote => true %></td>
    </tr>
    <tr>
      <td><button type="button" id="exit">X</button></td>
    </tr>
  </table>
</div>
