<%= stylesheet_link_tag "format.css" %>

<div>
  <table>
    <tr>
      <th rowspan="2"><h2>Currency converter</h2></th>
    </tr>
    <tr>
    </tr>
    <tr>
      <td><%= link_to 'New conversion', controller: 'converts' %></td>
    </tr>
  </table>
</div>
